.footer {
  background-color: $colorHeader;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
    .socialIcons i{
    margin: 10px 20px;
    padding: 7px;
    border-radius: 50%;
    background-color: white;
  }
}

/* Logo de Whatsapp */

.fa-whatsapp {
  position: fixed;
  bottom: 5%;
  right: 1%;
  color: white;
  font-size: 3rem;
  background-color: $colorWhatsapp;
  padding: 0.6rem;
  border-radius: 50%;
}
