header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorHeader;
  img {
    width: 20vh;
    margin-left: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.linkActivo {
  font-weight: bold;
  border: 2px solid $colorLinks;
  background-color: $colorLinks;
  color: $colorHeader;
  border-radius: 20px;
  padding: 5px 40px 5px 40px;
}
