header {
  @extend %estiloFlex;
  min-height: 20vh;
  background: rgb(110,73,83);
  background: linear-gradient(180deg, rgba(110,73,83,1) 0%, rgba(149,91,107,1) 50%, rgba(176,95,117,1) 100%);
  img {
    width: 20vh;
    margin-left: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.linkActivo {
  font-weight: bold;
  border: 2px solid $colorLinks;
  background-color: $colorLinks;
  color: $colorHeader;
  border-radius: 20px;
  padding: 5px 40px 5px 40px;
}
